
<section class="modal modal--position_absolute">

  <h2 class="modal__title">Изменить должность HSE</h2>

  <div class="modal__inner">

    <form action="" class="form">

      <div class="form__inner">

        <label class="form__item form__item--column2">
          <input class="form__input" type="text" name="name" value="Куприянов Дмитрий Георгиевич" placeholder="Фамилия Имя Отчество">
        </label>

        <button class="btn btn-primary h-50px form__item--column2">Изменить</button>

      </div><!--./form__inner-->

    </form><!--./form-->

  </div><!--./modal__inner-->

  <button type="button" class="modal__close button button--icon" title="Закрыть окно"></button>
</section><!--./form-->
