
<section class="modal" id="add-user-modal" data-sumbiot-modal>

  <h2 class="modal__title">Добавить сотрудника</h2>

  <div class="modal__inner">

    <form action="" class="form">

      <div class="form__inner">

        <label class="form__item form__item--column2">
          <input class="form__input" type="text" name="name" placeholder="Фамилия Имя Отчество">
        </label>

        <div class="form__item">
          <span class="form__label">Дивизион:</span>
          <div class="form__dropdown dropdown dropdown--select">
            <div class="dropdown__toggle"></div>
            <ul class="dropdown__options">
              <li class="dropdown__item">АК ОЗНА</li>
              <li class="dropdown__item">АК ОЗНА #2</li>
              <li class="dropdown__item">АК ОЗНА #3</li>
              <li class="dropdown__item">АК ОЗНА #4</li>
              <li class="dropdown__item">АК ОЗНА #5</li>
              <li class="dropdown__item">Action #2</li>
              <li class="dropdown__item">Action #3</li>
              <li class="dropdown__item">Action #4</li>
              <li class="dropdown__item">Action #5</li>
              <li class="dropdown__item">Action #2</li>
              <li class="dropdown__item">Action #3</li>
              <li class="dropdown__item">Action #4</li>
              <li class="dropdown__item">Action #5</li>
            </ul>
          </div>
        </div>

        <div class="form__item">
          <span class="form__label">Отдел:</span>
          <div class="form__dropdown dropdown dropdown--select">
            <div class="dropdown__toggle">Директор (начальник) вычислительного (информа</div>
            <ul class="dropdown__options">
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел организации труда</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел кадров (отдел найма и увольнения)</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел кадров (отдел найма и увольнения)</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел кадров (отдел найма и увольнения)</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел кадров (отдел найма и увольнения)</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел главного механика</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел главного механика</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел главного механика</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел главного механика</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел главного механика</li>
              <li class="dropdown__item" title="отдел кадров (отдел найма и увольнения) отдел кадров">отдел организации труда</li>
            </ul>
          </div>
        </div>

        <div class="form__item">
          <span class="form__label">Должность HSE:</span>
          <div class="form__dropdown dropdown dropdown--select">
            <div class="dropdown__toggle"></div>
            <ul class="dropdown__options">
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">Директор (начальник) вычислительного (информационно-вычислительного) центра</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел организации труда</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел кадров (отдел найма и увольнения)</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел кадров (отдел найма и увольнения)</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел кадров (отдел найма и увольнения)</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел кадров (отдел найма и увольнения)</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел главного механика</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел главного механика</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел главного механика</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел главного механика</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел главного механика</li>
              <li class="dropdown__item" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">отдел организации труда</li>
            </ul>
          </div>
          <input type="text" name="dsfsd" required style="display:block; height: 0; width: 0; margin-top: -20px">
        </div>

        <label class="form__item">
          <span class="form__label">Статус:</span>
          <div class="form__dropdown dropdown dropdown--select">
            <div class="dropdown__toggle">работает</div>
            <ul class="dropdown__options">
              <li class="dropdown__item">работает</li>
              <li class="dropdown__item">уволен</li>
            </ul>
          </div>
        </label>

        <button type="submit" class="btn btn-primary h-50px form__item--column2">Добавить</button>

      </div><!--./form__inner-->

    </form><!--./form-->

  </div><!--./modal__inner-->

  <button type="button" class="modal__close button button--icon" data-sumbiot-modal-close title="Закрыть окно"></button>
</section><!--./form-->
