
<section class="modal modal--add" id="add-hse-modal" data-sumbiot-modal>

  <h2 class="modal__title">Добавить должность HSE</h2>

  <div class="modal__inner">

    <form class="form" id="add-hse" action="/editHse" method="post" data-sumbiot-wrapper>

      <div class="form__inner form__inner--grid-row-gap-12">

        <div class="form__item form__item--column2">
          <span class="form__label"></span>
          <div class="form__dropdown dropdown dropdown--select" data-select-name="ID_MATRIX_WORKS">
            <div class="dropdown__toggle js-dropdown__toggle"></div>

            <div class="dropdown__options dropdown__options--center">
              {{#repeat 10}}
              <div class="dropdown__item" data-select-option="3" title="Директор (начальник) вычислительного (информационно-вычислительного) центра">
                Директор (начальник) вычислительного (информационно-вычислительного) центра
              </div>
              {{/repeat}}

              <div class="dropdown__option-panel option-panel js-option-panel">
                <ul class="option-panel__list">
                  <li class="option-panel__item option-panel__item--stretch" title="Развернуть"></li>
                </ul>
              </div>
            </div>

          </div>
        </div><!--./form__item-->

        <button class="btn btn-primary h-50px form__item--column2" type="submit" name="btn_add_hse">Добавить</button>

      </div><!--./form__inner-->

    </form><!--./form-->

  </div><!--./modal__inner-->

  <button type="button" class="modal__close button button--icon" data-sumbiot-modal-close title="Закрыть окно"></button>

</section><!--./form-->
