
<section class="modal modal--position_absolute">

  <h2 class="modal__title">Редактировать удостовенерие</h2>

  <div class="modal__inner">

    <form action="" class="form">

      <div class="form__inner">

        <label class="form__item">
          <span class="form__label">Дата аттестации:</span>
          <input class="form__input" type="date" name="name" value="2012-12-22">
        </label>

        <label class="form__item">
          <span class="form__label">Дата следующий аттестации:</span>
          <input class="form__input" type="date" name="name" value="2023-12-22">
        </label>

        <label class="form__item form__item--column2">
          <span class="form__label">Номер документа:</span>
          <input class="form__input" type="text" name="name" value="234-423-4335">
        </label>



        <button class="btn btn-primary h-50px form__item--column2">Изменить</button>

      </div><!--./form__inner-->

    </form><!--./form-->

  </div><!--./modal__inner-->

  <button type="button" class="modal__close button button--icon" title="Закрыть окно"></button>
</section><!--./form-->
