
<section class="modal modal--add" id="add-hse-modal" data-sumbiot-modal>

  <h2 class="modal__title">Добавить должность HSE</h2>

  <div class="modal__inner">

    <form class="form" action="" method="GET" data-sumbiot-wrapper>

      <div class="form__inner form__inner--grid-row-gap-12">

        <label class="form__item form__item--column2">
          <input class="form__input" type="text" name="name">
        </label>

        <button type="submit" class="btn btn-primary h-50px form__item--column2">Добавить</button>

      </div><!--./form__inner-->

    </form><!--./form-->

  </div><!--./modal__inner-->

  <button type="button" class="modal__close button button--icon" data-sumbiot-modal-close title="Закрыть окно"></button>

</section><!--./form-->
