
<section class="modal js-add-" data-modal>

  <h2 class="modal__title">Добавить сотрудника</h2>

  <div class="modal__inner">

    <form action="" class="form">

      <div class="form__inner">

        <label class="form__item form__item--column2">
          <input class="form__input" type="text" name="name" placeholder="Фамилия Имя Отчество">
        </label>

        <label class="form__item">
          <span class="form__label">Дивизион:</span>
          <input class="form__input" type="text" name="name">
        </label>

        <label class="form__item">
          <span class="form__label">Отдел:</span>
          <input class="form__input" type="text" name="name">
        </label>

        <label class="form__item">
          <span class="form__label">Должность HSE:</span>
          <input class="form__input" type="text" name="name">
        </label>

        <label class="form__item">
          <span class="form__label">Статус:</span>
          <input class="form__input" type="text" name="name">
        </label>

        <button class="btn btn-primary h-50px form__item--column2">Добавить</button>

      </div><!--./form__inner-->

    </form><!--./form-->

  </div><!--./modal__inner-->

  <button type="button" class="modal__close button button--icon" title="Закрыть окно"></button>
</section><!--./form-->
