
<div class="top-panel">
  <div class="row f-justify-content-between">
      <div class="col-auto">

        <form action="" class="form form--search">

          <div class="form__inner">

            <label class="form__item">
              <input type="text" class="form__input" name="search" placeholder="Поиск">
            </label>

            <label class="form__item form__item--order-3">
              <input type="checkbox" class="form__checkbox" name="search">
              <span class="form__label">Добавить в результат поиска уволенных сотрудников</span>
            </label>

            <button type="button" class="btn btn-primary">Найти</button>

          </div>

        </form><!--./search-->

      </div>
      <div class="col-auto">

        <button type="button" class="top-panel__btn btn btn-primary" data-trigger="user-modal">Добавить сотрудника</button>
        <button type="button" class="top-panel__btn btn btn-warning">Заявка на обучение</button>
        <button type="button" class="top-panel__btn btn btn-success" data-trigger="filter-modal">Фильтр</button>

      </div>
  </div>
</div><!--./top-panel-->
