
<div class="top-panel">
  <div class="row f-justify-content-between">
      <div class="col-auto">

        <form action="" class="search">
          <label>
            <input type="text" class="search__input" name="search" placeholder="Поиск">
          </label>
          <button type="button" class="search__btn btn btn-primary">Найти</button>
        </form><!--./search-->

      </div>
      <div class="col-auto">

        <button type="button" class="top-panel__btn btn btn-success">Фильтр</button>
        <button type="button" class="top-panel__btn btn btn-primary">Добавить</button>

      </div>
  </div>
</div><!--./top-panel-->
