
<div class="top-panel">
  <div class="row f-justify-content-between">
      <div class="col-auto">

        <form class="form form--search" id="search" action="/search" method="post">

          <div class="form__inner">

            <label class="form__item">
              <input type="text" class="form__input" name="SEARCH" placeholder="Поиск" required>
            </label>

            <label class="form__item form__item--order-3">
              <input type="checkbox" class="form__checkbox" name="STATUS">
              <span class="form__label">Добавить в результат поиска уволенных сотрудников</span>
            </label>

            <button type="button" class="btn btn-primary">Найти</button>

          </div>

        </form><!--./search-->

      </div>
      <div class="col-auto">

        <button type="button" class="top-panel__btn btn btn-primary js-add-user-modal" data-sumbiot-target="#add-user-modal">Добавить сотрудника</button>
        <button type="button" class="top-panel__btn btn btn-warning">Заявка на обучение</button>
        <button type="button" class="top-panel__btn btn btn-success js-filter-modal" data-sumbiot-target="#filter-modal">Фильтр</button>

      </div>
  </div>
</div><!--./top-panel-->
