@use "sass:color";

$color: #fbfbfb;
$color2: #181818;
$color3: #e7e7e1;

.form{

}

.form__inner{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.form__item{

  &--column2{
    grid-column: span 2;
  }
}

.form__label{
  display: block;

  margin-bottom: 2px;

  font-weight: 500;
  font-size: 13px;

  text-transform: uppercase;

  opacity: 0.8;
}

.form__input{
  width: 100%;

  margin: 0;
  padding: 10px 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  color: $color2;

  border: 1px solid color.scale($color2, $lightness: 70%);
  border-radius: 2px;

  outline: none;
  box-shadow: none;

  transition: box-shadow 0.3s ease;

  &::placeholder{
    color: color.scale($color2, $lightness: 70%);

    transition: color 0.3s ease;
  }

  &:focus{
    box-shadow: 0 0 0 2px color.scale($color2, $lightness: 85%);

    &::placeholder{
      color: color.scale($color2, $lightness: 0%);
    }
  }
}
