@use "sass:color";

$color: #fbfbfb;
$color2: #181818;
$color3: #e7e7e1;

.loader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba($color,0.9);

  &--user{
    min-height: 297px;
  }

  &--delete{
    flex-direction: row;

    .loader__img{
      width: 26px;
      height: 26px;

      background-size: 26px;

      margin-bottom: 0;
      margin-right: 7px;
    }

    .loader__massage{
      text-transform: none;
    }
  }
}

.loader__img{
  display: block;

  width: 44px;
  height: 44px;

  background-image: url(../img/loader.svg);
  background-position: center;
  background-size: 44px;
  background-repeat: no-repeat;

  margin-bottom: 15px;

  &--ok {
    background-image: url(../img/ok.svg);
  }

  &--error {
    background-image: url(../img/error.gif);
  }
}

.loader__massage{
  margin: 0;

  font-weight: 400;
  font-size: 15px;
}
