@use "sass:color";

$color: #fbfbfb;
$color2: #181818;

.result{
  overflow: hidden;
}

.result__row{
  margin: 0 0 5px 0;
  padding: 6px 0;

  background-color: #fbfbfb;

  border-top: 1px solid color.scale($color, $lightness: -10%);
  border-bottom: 1px solid color.scale($color, $lightness: -10%);

  & > .row > [class^='col'] {
    align-self: center;

    border-right: 1px solid color.scale($color2, $lightness: 80%);

    &:last-child{
      border-right: none;
    }
  }

  &--header{
    padding: 16px 0;
    margin-bottom: 8px;

    font-weight: 600;

    color: color.scale($color2, $lightness: 30%);

    text-align: center;

    border-bottom: 1px solid color.scale($color, $lightness: -10%);
    box-shadow: 0 2px 2px 0 color.scale($color, $lightness: -7%);
  }
}

.result__options{
  display: flex;
  justify-content: space-around;
}

.result__options-user{

  & .result__options-btn:first-child{
    margin-right: 6px;
  }
}

.result__options-btn{
  vertical-align: middle;

  width: 36px;
  height: 36px;

  padding: 0;
  margin: 0;

  background-color: color.scale(#ffc107, $lightness: 60%);

  border: 0;
  border-radius: 8px;

  box-shadow: inset 0 0 6px color.scale($color2, $lightness: 80%);

  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  cursor: pointer;

  &:hover{
    background-color: color.scale(#ffc107, $lightness: 30%);
  }

  &:active{
    box-shadow: inset 0 0 6px color.scale($color2, $lightness: 60%);
  }

  &--arrow{
    background-color: color.scale(#ffc107, $lightness: 60%);

    margin: 0 6px;
  }
}

.result__options-svg{
  display: block;

  margin: 0 auto;

  width: 24px;
  height: 24px;

  &--arrow{
    width: 12px;
    height: 12px;

    fill: color.scale($color2, $lightness: 10%);
  }
}
